/* common style */

body{
    font-family: 'Roboto', sans-serif;
}
.text-primary{
    color:#FC6E09 ;
}
.section-title{
    color: #181718;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #747374;
    text-align: center;
    font-size: 18px;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.btn-primary{
    border-radius: 5px;
    background-color:#FD6D09 ;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px; 35px
}
.nav-title{
    color: #19181A;
    font-size: 45px;
    font-weight: 800;

}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #484748;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
font-size: 45px;
color:#000000 ;
margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    border: 1px solid black;
    padding: 5px;
    text-align: justify;
    border-radius: 3px;
}
/* main section style */




/* about section */
.about{
    padding: 130px;
    background-color:#FEF6F5 ;
    border-radius:10px ;
    margin: 130px ;
}

main{
    max-width: 1140px;
    margin: 0 auto;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    
}